@import "../reset.scss";
@import "../var.scss";

a {
    text-decoration: none;
}
.container{
    width: 450px;
    margin: 0 auto;
}
main{
    width: 100vw;
    height: 100vh;
    background-color:  rgb(154, 183, 243);
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;

    &__logo{
        width: 140px;
        height: 35px;
        background-image: url("../../img/logo.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__signUp{
        display: flex;
        align-items: center;

        & span{
            font-family: $roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.28px;
            color: #222428;
        }
        & a {
            font-family: $roboto;
            color: $primary;
            font-size: 16px;
            font-weight: 700;
            padding-left: 15PX;
        }
    }
}
.signIn{
    width: 650px;
    margin: 135px auto;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 45, 113, 0.06);
    border-radius: 10px;
    &__text{
        color: #002396;
        font-family: $exo2;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.4px;
        padding-top: 72px;
    }
    &__form{
        padding-top: 50px;
        & div input{
            width: 435px;
            background: #FCFCFC;
            border: 2px solid #F2F2F2;
            border-radius: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            margin-bottom: 20px;
            outline: none;
            &:focus{
                border-left: 0.5px solid $primary;
            }
        }
    }
    &__forgot{
        display: flex;
        justify-content: flex-end;
        padding-bottom: 15px;
        & a{
            font-family: $roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.28px;
            color: #222428;
        }
    }
    &__submit{
        display: flex;
        justify-content: flex-end;
        padding-bottom: 80px;
        & button{
            font-family: $exo2;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.4px;
            background-color: $success;
            color:#fff; 
            padding: 10px 50px;
            border: none;

            &:hover{
                background-color: rgb(26, 206, 223);
                cursor: pointer;
            }
        }
    }
}