extends base.pug

block content
    article.signIn
        div.container
            h1.signIn__text Enter your e-mail to reset your password
            form.signIn__form
                div
                    input.email(type="email", placeholder="name@email.com" name="email")
                div.signIn__submit
                    button(type="submit") Send