extends base.pug
block variables
    - const choice = "Sign In"
    - const choiceLink = "/sign.html"
    - const discription = "Back to"
    - const title = "E-mail"
block content
    article.contents
        div.container
            h1.contents__text Enter your e-mail to reset your password
            form.contents__form
                div
                    input.email(type="email", placeholder="name@email.com" name="email")
                div.contents__submit
                    button(type="submit") Send