extends base.pug
block variables
    - const choice = "Sign Up"
    - const choiceLink = "/sign.html"
    - const discription = "Already have an account?"
    - const title = "Log In"
block content
     article.contents
        div.container
            h1.contents__text Sign up
            form.contents__form
                div.contents__name
                    input.fist-name(type="text", placeholder="Enter your name" name="name")
                    input.last-name(type="text", placeholder="Last name" name="name")
                div
                    input.username(type="text" name="username",placeholder="Uasername")
                div
                    input.username(type="email" name="emailReg",placeholder="E-mail")
                div.contents__submit
                    button(type="submit") Get started