extends base.pug

block content
    article.signIn
        div.container
            h1.signIn__text Sign In
            form.signIn__form
                div
                    input.email(type="email", placeholder="name@email.com" name="email")
                div
                    input.password(type="password" name="password",placeholder="Password")
                div.signIn__forgot
                    a(href="/email") Forgot password?
                div.signIn__submit
                    button(type="submit") Sign in

