extends base.pug

block content
    article.contents
        div.container
            h1.contents__text Enter your e-mail to reset your password
            form.__form(action="/api/sendEmail" method="POST")
                div
                    input.email(type="email", placeholder="name@email.com" name="email")
                div.contents__submit
                    button(type="submit") Send

    script(src="../public/javascript/email.js")