extends base.pug

block content
    article.contents
        div.container
            h1.contents__text Reset your password
            form.contents__form(action="/api/reset" method="POST")
                div
                    input.email(type="password", placeholder="New password", name="newPassword")
                div
                    input.password(type="password",placeholder="Repeat password", name="repeatPassword")
                div.contents__submit
                    button(type="submit") Reset