extends base.pug

block content
    article.contents
        div.container
            h1.contents__text Sign In
            form.contents__form
                div
                    input.email(type="email", placeholder="name@email.com" name="email")
                div
                    input.password(type="password" name="password",placeholder="Password")
                div.contents__forgot
                    a(href="/email") Forgot password?
                div.contents__submit
                    button(type="submit") Sign in

